@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  color: #fff;
  background: #1f1934;
}

main {
  background: #393a47;
  height: 100vh; /* 100% de la altura de la ventana gráfica (viewport), que es el área visible de la página en el navegador, excluyendo elementos como la barra de herramientas del navegador. */
  height: 100dvh; /* el 100% de la altura del viewport, pero incluye los cambios dinámicos*/
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}